.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

.img1 {
  width: 80%;
}
.img2 {
  width: 80%;
}


footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}


button{
  height: 5rem;
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  text-align: center;
  text-shadow: 5px 0 #232931;
  color: #4ECCA3;
  background-color: #393E46;
  border-radius: 10%;
  width: 8rem;
  margin: 100px;
}

button:hover{
  color: red;
}

.middle{
width: 160;
}
.img_1{
  width: 100px;
}
.img_2{
  width: 100px;
}


.refresh {
    width: 70%;
    margin: auto;
    text-align: center;
  }

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
